html {
    min-height: 100%;
    position: relative
}

body {
    background: #F8F9FA;
    padding-bottom: 40px;
    padding-top: 40px
}

#list .filename {
    white-space: normal;
    word-break: break-all
}

#list .thead-dark th a, #list .thead-dark th a:hover, #list .thead-dark th a:focus {
    color: #FFF
}

#list a, #list a:hover, #list a:focus {
    color: #000
}

#list colgroup {
    display: none
}

.footer {
    bottom: 0;
    margin-bottom: 0;
    position: absolute;
    width: 100%
}

.navbar {
    background: #4E2CBF;
    color: #FFF;
    min-height: 32px;
    padding: 8px
}

.navbar-brand {
    font-size: 24px;
    height: 24px;
    line-height: 25px;
    padding: 0
}

a.nav-link {
    color: #FFF;
    padding: 0
}

li.breadcrumb-item a, #list th a, #list th a:hover, #list th a:focus, .footer a, .footer a:hover, .footer a:focus {
    color: #4E2CBF
}

ol.breadcrumb {
    background-color: transparent;
    margin: 5px 0;
    padding: 0
}